.container{
    background-image: linear-gradient(to bottom,rgb(235, 28, 94),rgb(255, 157, 0));    height: 100vh;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Arial;
    background-blend-mode:hard-light;
    font-weight: bold;
}

.img{
    width: 100px;
    height: 60px;
}

.first{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100px;

    opacity: 0.7;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;

}

.nav{
    width:100%;
    font-size: 25px;
    display: flex;
    justify-content:space-around;
    margin-left: 800px;
}

a{
    text-decoration: none;
    color: white;
}

.second{
    height: 89.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.music{
    font-size: 100px;
    margin-bottom: 10px;
}
.million{
    font-size: 25px;
    margin-bottom: 25px;
}
.btn{
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(95, 144, 23);
}