.main{
    height: 100vh;
    display: flex;
    background-color: rgb(9, 56, 117);
    align-items: center;
    justify-content: center;
}
.formdiv{
    height: 80vh;
    width: 70vh;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.login{
    font-size: 40px;
}
.box{
    width: 500px;
    height: 60px;
}
.mail,.pswd{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
#Password,#Email{
    font-size: 15px;

}
.check{
    width: 500px;
    font-size: 15px;
}

.btn1{
    border: none;
    width: 500px;
    height: 60px;
    font-size: 20px;
    margin: 30px;
    color: white;
    background-color: rgb(9, 56, 117);
}

.link{
    color: rgb(9, 56, 117);
}
.forgot{
    margin: 10px;
}